In [49]:
%%capture
%load_ext autoreload
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join('..', 'code'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [50]:
import pandas as pd
import numpy as np 
import code.utils as utils

In [51]:
df = pd.read_csv('https://raw.githubusercontent.com/m4thfr34k/restaurant/master/data/raw/Restaurants_in_Wake_County.csv')

In [52]:
df.head()
df_business_id = df[df['OBJECTID'] == 3455145]
df_business_id.head()

,OBJECTID,HSISID,NAME,ADDRESS1,ADDRESS2,CITY,STATE,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,FACILITYTYPE,PERMITID,X,Y,GEOCODESTATUS,SHAPE
1,3455145,4092010618,Roast Grill,7 S WEST ST,NaN,RALEIGH,NC,27603-1831,(919) 832-8292,1991/04/22 04:00:00+00,Restaurant,16,-78.645643,35.780231,M,NaN